<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Continue Tutorial</title>
<link href="ContinueTutorial.css" rel="stylesheet" />
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>

<div id="div1">
	<h2>{{name}}</h2>
	<greeting></greeting>
	<input type="text" ref="myRef"></input>
	<button v-on:click="logRefValue">Log input value</button>
</div>

<div id="div2">
	<h2>{{name}}</h2>
	<greeting></greeting>
</div>

<script src="ContinueTutorial.js" ></script>
</body>
</html>