<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Exercise 2</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style>
	.red{
		background-color:red;
	}
	.yellow{
		background-color:yellow;
	}
	.green{
		background-color:green;
	}
</style>
</head>
<body>
	<h1>Exercise 2</h1>
	
	<div :style="myStyle" id="exercise2">
		<p>Current value: {{ counter }}</p>
		<button v-bind:class="color" v-on:click="counter++">Increase</button>
		<button v-on:click="counter--">Decrease</button>
		<button v-on:click="!classCondition">Change background color</button>
		<p>{{ result }}</p>
		<input type="text" v-model="color"></input>
		<input type="text" v-model="width"></input>
		<template v-if="show">
			<h4>Group of elements that is deleted/shown by using a templat and the v-if directive</h4>
			<p>Second component to delete or to show</p>
		</template>
		<p v-if="show">Now you see me!</p><!-- used to actualy delete or create an html element -->
		<p v-else>Now you don't!</p><!-- it is applicable to the first v-if directive above -->
		<p v-show="show">Here is used v-show to actually hide the elements and not deleting them</p>
		<button v-on:click="show = !show">Click to hide/show</button>
	</div>
	
	<div id="practice">
		<ul>
		<li v-for="(name,i) in names">{{ name }} index: {{i}}</li>
		</ul>
		<input type="text" v-model="inputName"></input>
		<button v-on:click="names.push(inputName)">Add to list</button>
		<span v-for="n in 5">{{n}}</span>
		
		<template v-for="person in persons">
			<template v-for="(value,key,index) in person">
				<h5>{{ value }} {{key}} {{index}}</h5>
			</template>
		</template>
		
		<ul>
			<li v-for="array in arrays">
				<template v-if="Array.isArray(array)">
					<div v-for="element in array">
						<p>{{ element }}</p>
					</div>
				</template>
				  <template v-else>
			       {{element}}
			      </template>
			</li>
		</ul>
	</div>
	
	<script>
		new Vue({
			el: "#exercise2",
			data:{
				counter: 0,
				classCondition: true,
				color: "yellow",
				width: 300,
				show: true
			},
			computed:{
				result: function(){
					return this.counter != 10? "Different from 10":"Equal to 10";
				},
				myStyle: function(){
					return{
						backgroundColor: this.color,
						width: this.width+"px"
					};
				}
			},
			watch:{
				counter: function(value){
					var vm = this;
					setTimeout(function(){
						vm.counter = 0;
					},5000);
				}
			}
		});
		new Vue({
			el: "#practice",
			data: {
				inputName:'YourInputName',
				names: ["Alex","Mike","Jim"],
	            persons: [{name:'Alex', age:'23'},{name:'Cosmin',age:'21'},{name:'Mike',age:'24'}],
	            arrays: [{name:'array1',data:[1,2,3,4,5]}]
			}
		});
	</script>
</body>
</html>