<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Glass Game</title>
<link href="GlassGame.css" rel="stylesheet" />
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="appDiv1">
	<img class="center" v-bind:src="imageSource" alt="Image not found"/>
	<div>
		<h2 class="healthStatus" v-bind:style="style">{{ health }}</h2>
	</div>
	<button v-if="showAttackButton" v-on:click="attack" class="buttonAttack">Attack</button>
	<button v-on:click="reset" class="buttonReset">Reset</button>
</div>

<script src="GlassGame.js" ></script>
</body>
</html>