@CHARSET "ISO-8859-1";
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.buttonAttack{
	position:absolute;
	left:5%;
	top:80%;
	width:20%;
	height:10%;
}
.buttonReset{
	position:absolute;
	left:30%;
	top:80%;
	width:20%;
	height:10%;
}
.healthStatus{
	float:left;
	background-color:green;
}