<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>VueJS</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <p>
  {{ title }}
  </p>
  <h1 v-once>{{title}}</h1>
  <input type="text" v-on:input="changeTitle"></input>
  <h5>{{ sayHello() }}</h5>
  <div style="float:left,width:20px" >
	  <a v-bind:href="linkToExerciseTwo">Exercise 2</a>
	  <a v-bind:href="linkToMonsterGame">Monster Game</a>
	  <a v-bind:href="linkToNewTutorialPractice">NewTutorial</a>
	  <a v-bind:href="linkToGlassGame">GlassGame</a>
  </div>
</div>

<div id="exercise" >
	<p>VueJS is fun - {{name}}</p>
	<h1>Age: {{age}}</h1>
	<h3>3*age = {{ tripleAge() }}</h3>
	<button v-on:click="increase(2, $event)">Click</button>
	<p>{{ counter > 10 ? "E mai mare ca 10" : "E mai mic ca 10" }}</p>
	<p>Status contor: {{ output }}</p>
	<p v-on:mousemove="updateCoordinates">Coordonates: {{ x }} {{ y }} </p>
	<input type="text" v-on:keyup.space="increase(2, $event)" v-model="name"></input>
	
</div>
<script>
new Vue({
	el : '#app',
  data: {
  title: "New VueJs",
  link: "https://www.sport.ro/",
  linkToExerciseTwo: "exerciseTwo.html",
  linkToMonsterGame: "monsterGame.html",
  linkToNewTutorialPractice: "NewTutorial.html",
  linkToGlassGame:"GlassGame.html"
  },
  methods: {
  	changeTitle: function(event){
  	 	this.title = event.target.value;
  	},
  	sayHello : function(){
  		return this.title;
  	}
  }
})

new Vue({
	el: '#exercise',
	data:{
		name: "Ivan Alexandru",	
		age: "38",
		 x : 0,
		  y: 0,
		  counter : 0
	},
	 computed: {
		  output: function(){
			  return this.counter > 10 ? "Bigger than 10" : "Smaller than 10";
		  }
	  },
	  watch:{
		  counter: function(value){
			  var vm = this;
			  setTimeout(function(){
				  vm.counter = 0;
			  },2000);
		  } 
	  },
	methods: {
		updateCoordinates: function(event){
	  		this.x = event.clientX;
	  		this.y = event.clientY;
	  	},
		tripleAge: function(){
			return this.age*3;
		},
		increase: function(step, event){
			this.counter += step;
		}
	}
	})
</script>
</body>
</html>