<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Monster Game</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style>
	.center {
	    margin: auto;
	    width: 50%;
	    border: 3px solid grey;
	    padding: 10px;
	    text-align:center;
	}
	.player1{
		color: grey;
		font-family: "Times New Roman", Times, serif;
		float:left;
	}
	.player2{
		color: grey;
		font-family: "Times New Roman", Times, serif;
		float:right;
	}
	.cover{
		width:450px;
		height:30px;
		border: solid black;
		float:left;
	}
	.lifeStatus{
		background-color:lightgreen;
	    height: 35%;
	    margin: 0 auto;
	    padding: 10px;
	    position: relative;
		
	}
	.gameButtons{
		position:absolute;
		top:30%;
		width:100%;
		left:35%;
	}
	.startGame{
		background-color:yellow;
		border-radix:10px;
		width:30%;;
		height:10%;
	}
	.button{
		background-color:yellow;
		border-radix:10px;
		width:10%;;
		height:3%;
	}
	.gameResult{
		position:absolute;
		top:40%;
		left:48%;
	}
</style>
</head>
<body>
<h1 class="center">Monster Game</h1>
<div id="app">
	<div id="you" v-bind:class="player1">
		<h3 class="center">YOU</h3>
		<div class="cover" id="coverPlayer1">
			<div class="lifeStatus" :style="youStyle" id="lifeStatusPlayer1">
			<h4 style="text-align:center">{{ widthYou }}</h4>
			</div>
		</div>
	</div>
	<div id="monster" v-bind:class="player2">
		<h3 class="center">MONSTER</h3>
		<div class="cover" id="coverPlayer2">
			<div class="lifeStatus" :style="monsterStyle"  id="lifeStatusPlayer2">
				<h4 style="text-align:center">{{ widthMonster }}</h4>
			</div>
		</div>
	</div>
	<div class="gameButtons" id="gameButtons">
		<button class="startGame" id="startGame" v-if="show" v-on:click="show = !show">Start Game</button>
		<div v-else>
			<button class="button" v-on:click="attack(); gameResultMethod();">Attack</button>
			<button class="button" v-on:click="heal">Heal</button>
			<button class="button" v-on:click="giveUp">Give Up</button>
		</div>
	</div>
	<div class="gameResult" id="gameResult">
		<p v-if="showGameResult==1" style="color:red">You lost!</p>
		<p v-if="showGameResult==2" style="color:green">You won!</p>
	</div>
</div>
<script>
new Vue({
	el: "#app",
	data:{
		player1: "player1",
		player2: "player2",
		show: true,
		widthMonster: 100,
		widthYou: 100,
		showGameResult: 0
	},
	computed:{
		monsterStyle: function(){
			return{
					width: this.widthMonster +"%"
			};
		},
		youStyle: function(){
			return{
				width: this.widthYou +"%"
			};
		}
	},
    methods:{
		attack: function(){
				newYouLife = this.widthYou - parseInt(Math.random()*10);
				this.widthYou = newYouLife >= 0? newYouLife : 0;
				newMonsterLife = this.widthMonster - parseInt(Math.random()*10);
				this.widthMonster = newMonsterLife >= 0? newMonsterLife : 0;
			},
		heal: function(){
			if(!(this.widthYou == 0 || this.widthMonster == 0)){
				newYouLife = this.widthYou + parseInt(Math.random()*10);
				this.widthYou = newYouLife <= 100? newYouLife : 100;
				newMonsterLife = this.widthMonster + parseInt(Math.random()*10);
				this.widthMonster = newMonsterLife <= 100? newMonsterLife : 100;
			}
		},
		giveUp: function(){
			window.alert("You lost!");
			if (confirm("Start a new game?")) {
				this.widthYou = 100;
				this.widthMonster = 100;
				this.showGameResult = 0;
		    } else {
		    	
		    }
		},
	 	gameResultMethod: function(){
			if(this.widthYou == 0){
				this.showGameResult = 1;
			}else if(this.widthMonster == 0){
				this.showGameResult = 2;
			}
		} 
	}
	
})
</script>
</body>
</html>