<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>VueJs</title>
<link href="style.css" rel="stylesheet" />
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<h1>New Tutorial</h1>

<div v-bind:class="compClass" id="app">
	<a v-bind:href="continueTutorial">ContinueTutorial</a>
	<button v-on:click="changeBackgroundColor">Change backgroundColor</button>
	<h1>Hello {{ name }}</h1>
	<input type="text" v-model:value="name"></input>
	<p v-html="websiteTag">WebSite</p>
	<a v-on:click.prevent="click" href="http://www.sport.ro">Sport.ro</a>
	<h2>Sum:</h2>
	<input type="number" v-model:value="x"></input>
	<input type="number" v-model:value="y"></input>
	<h4>{{suma}}</h4>
	<button v-on:click="sum">Sum</button>
	<input v-on:keydown="changeClass" v-bind:class="cssClass">Press any key</input>
	<ul>
		<li v-for="(person,index) in persons">{{index}}. {{person.name}} - {{person.age}}</li>
	</ul>
	<template v-for="person in persons">
		<h4>{{person.name}} - {{person.age}}</h4>
	</template>
</div>

<script src="vuejs.js" ></script>
</body>
</html>